<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    </head>
    <body>
    <p>
    <b>Name:</b> Marlen Salazar <br>
    <b>Year:</b> Freshman <br>
    <b>Intended Major:</b> Chemical Engineering <br>
    <b>Me!</b> <br>
    <img src="/static/pic.jpg" width="291.6" height="518.4"> <br>
    <b> Osu! projects:</b> I play Osu! a lot and I'm really proud of the beatmaps I've made. 
    <a href="https://osu.ppy.sh/beatmapsets?q=protastic101">Check them out!</a><br>
    <b>Food! </b> I thrive in the kitchen. Check out some of my favorites <a href="/food">here!</a> <br>
    <b>Fun moments! </b>I've made it my mission to experience as much cool stuff in NYC as I can in my 4 years here.
    Take a trip through my memories <a href="/experiences">here!</a></p>
    </body>
</html>