<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Food</title>
    <head>
    <body>
    <p>I cook and bake a fair amount, so here are some pictures of the things I've made that I really like. <br>
    <img src="/static/bubble.jpg" style="width:20%;"> Brown sugar bubble tea! <br>
    <img src="/static/cookie.jpg" style="width:20%;"> Delicious chocolate chip cookie dough <br>
    <img src="/static/dumpling.jpg" style="width:20%;"> Vegetable dumplings and hot sauce (s p i c e) <br>
    <img src="/static/egg.jpg" style="width:20%;"> Tea eggs, marinated for about 6 hours. <br>
    <img src="/static/pancake.jpg" style="width:20%;"> Scallion pancakes, made of green onion, sesame seeds,
    chives, salt, and pepper. <br>
    <img src="/static/pie.jpg" style="width:20%;"> Made for a pie baking contest held back in Fall 2019.
    It's a lemon custard pie with a shortbread crust (so I guess a tart?)<br>
    </p>
    </body>
</html>