<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>NYC Adventures</title>
    <head>
    <body>
    <p>I'm from Olathe Kansas which is a lot smaller than NYC, so I've made it
    my mission to explore and experience the sights and moments as I can. Here are some highlights! <br>
    <img src="/static/angels.jpg" style="width:20%;"> Trumpeteer angels at Rockefeller 
    center during the winter holidays! <br>
    <img src="/static/bubbletea.jpg" style="width:20%;"> Boba guys! I got the strawberry matcha latte, 
    it's basic but delicious. <br>
    <img src="/static/cube.jpg" style="width:20%;"> Some random cube structure near the oculus. <br>
    <img src="/static/oculus.jpg" style="width:20%;"> Entrance to the oculus. We were having a fun time. <br>
    <img src="/static/starbucks.jpg" style="width:20%;"> Starbucks roastery in Chelsea. 
    We just looked - we can't actually afford anything there. <br>
    <img src="/static/vessel.jpg" style="width:20%;"> The Vessel at Hudson Yards! First time on it at night, 
    really cool looking! <br>
    </p>
    </body>
</html>